# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
dist/
.nx/cache/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Go
bin/
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Java
.gradle/
build/
out/
target/
*.class
*.jar
*.war
*.ear

.env

# Logs
*.log
arda-infra/
